config
audio.wav
config.ini
chatbot
.ipynb_checkpoints
Curso_Procesamiento+del+Lenguaje+Natural_IPD-protegido.pdf
NLTK_prueba.ipynb
UC-46edeac5-7714-4bc6-bb4f-fa0aa96b43d0.pdf
Untitled.ipynb
Untitled1.ipynb
